
@{
    ViewBag.Title = "TimeExpired";
    Layout = "~/Views/Shared/_LayoutAdminDashboard.cshtml";
}

<h1 style="color:red;text-align:center;">
    Your Time Expired
    <br />
    or
    <br />
    You dont have permission.
</h1>

