
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdminDashboard.cshtml";
}

<h2>Index</h2>

<a href="@Url.Action("Create", "GazzeteCreate")" class="btn btn-info btn-lg">
    <h3>Click. Create Gazzete for Current Semesters</h3>
</a>